/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/

#audioOption {
	background-color: #0071bc;
	color: #fff;
	height: 30px;
}