// Your custom SCSS should be written here...


  html, body {

    background-image:url('../img/background2.jpg');
	background-color:#cccccc;
  }

  .column, .columns, .tiles > li {
    
 
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    -ms-transition-duration: .3s;
    transition-duration: .3s;
  }

  .column:hover, .columns:hover {

    cursor: pointer;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    -ms-transition-duration: .3s;
    transition-duration: .3s;
  }

  .row {
    margin-bottom: 1px;
    text-align: center;
    background-color : #FCFCFC;
    -moz-transition:background-color 2s;
    -webkit-transition:background-color 2s;
    -o-transition:background-color 2s;
    transition:background-color 2s;
  }

  .row.new {
    background-color:yellow;
  }

  h1, h2 {
    font: bold italic 60px georgia, times new roman, serif;
    color: #555;
    letter-spacing: -.09em;
    -webkit-transition-duration: 1s;
  }

  h1 a {
  	font: bold italic 60px georgia, times new roman, serif;
  	color: #fff;
  	letter-spacing: -2px;
  }

  h1 a:hover {
  	font: bold italic 60px georgia, times new roman, serif;
  	color: #DDDDDD;
  }

  h1.columns {
  	border: 0px;
  }

  h2  {
    font-size: 21px;
    font-weight: normal;
    line-height: 1.6;
  }

  p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0;
    color: #555;

    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    -ms-transition-duration: .2s;
    transition-duration: .2s;
  }

  .column:hover p, .columns:hover p {
    
    color: #000;

    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    -ms-transition-duration: .2s;
    transition-duration: .2s;
  }

  .head, .head:hover {
    box-shadow: none;
    margin-top: 30px;
  }

  .head span {
    font-weight: bold;
    color: #353535;
  }

  .head span span {
    font-size: 32px;
    font-weight: bold !important;
  }

  a {
    color: #d04526;
  }

  a:hover {
    text-decoration:underline;
  }

  h1 a:hover {
    text-decoration:none;
  }

  .special, .special:hover {
    background: transparent;
        border: none;
  }

  .special:hover p {
    color: #ffe400;
  }

  @media only screen and (max-width: 767px) {

    h1 {
      font: bold italic 100px georgia, times new roman, serif;
      -webkit-transition-duration: .5s;
    }

  }

  .tweetrow{
  	padding: 10px;
  	min-width:320px;
  }

  #search {
  	font-size: 30px;
    height: 60px;
    text-align: center;
    width: 100%;
  }

 .tweet-text {
 	color: #333333;
 	white-space: pre-wrap;
 	word-wrap: break-word;
 	font-family: "Helvetica Neue",​Arial,​sans-serif;
 	font-size: 14px;
 	
 	line-height: 18px;
 	text-align: left;
 }

 .tweet-footer {
 	text-align: left;
 	color: #999999;
 	font-size: 12px;
 }

 .username, .time {
    font-size: 12px;
}

.tweetrow .time {
    color: #BBBBBB;
    float: right;
    margin-top: 1px;
    position: relative;
}

.fullname {
    color: #333333;
    font-weight: bold;
}

.tweet-header {
	text-align: left;
}

.tweetrow .imagediv {
	//padding: 10px;
}

.tweetcontent {
	margin-left: 10px;
}

.profile_img {

}


/* Mobile */
@media only screen and (max-width: 767px) { 
  .tweetcontent{ 
  		padding: 10px;
  	 }
}