



// Your custom SCSS should be written here...

  html,body {
    background-color: #ccc;
    background-image: url(../img/tweetout_web_1280.png);
    background-repeat: no-repeat;
    background-position: center 19px;
    background-size: cover;
    width: 100%;
    height: 100%;
  }



#bg {
  position: fixed; 
  top: 0; 
  left: 0; 

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}


  .column, .columns, .tiles > li {
    
 
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    -ms-transition-duration: .3s;
    transition-duration: .3s;
  }

  .column:hover, .columns:hover {

    cursor: pointer;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
    -ms-transition-duration: .3s;
    transition-duration: .3s;
  }

  .row {
    margin-bottom: 1px;
    text-align: center;
    background-color : #ffffff;
    -moz-transition:background-color 2s;
    -webkit-transition:background-color 3s;
    -o-transition:background-color 4s;
    transition:background-color 2s;
  }

  .row .tweet-header{
    position: relative;
    background-color:$tweet-header;
    -moz-transition:background-color 2s;
    -webkit-transition:background-color 2s;
    -o-transition:background-color 2s;
    transition:background-color 2s;
  }

  .row.new .tweet-header{
    background-color:$tweet-header-new;
  }

  .row.header, .row.controls {
    background-color: transparent;
    height: 50px;
  }

  .row.controls .two.columns {
    text-align: right;
  }

  h1, h2 {
    font: bold italic 60px georgia, times new roman, serif;
    color: #fff;
    letter-spacing: -.09em;
    -webkit-transition-duration: 1s;
  }

  h1 a {
  	font: bold italic 60px georgia, times new roman, serif;
  	color: #fff;
  	letter-spacing: -2px;
  }

  h1 a:hover {
  	font: bold italic 60px georgia, times new roman, serif;
  	color: #DDDDDD;
  }

  h1.columns {
  	border: 0px;
  }

  h2  {
    font-family: helvetica;
    font-size: 33px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.005rem;
    text-align: right;
  
    a, a:hover {
      color: #fff;
      text-decoration: none;
    }
  }



  p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 0;
    color: #555;

    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    -ms-transition-duration: .2s;
    transition-duration: .2s;
  }

  .column:hover p, .columns:hover p {
    
    color: #000;

    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    -ms-transition-duration: .2s;
    transition-duration: .2s;
  }

  .head, .head:hover {
    box-shadow: none;
    margin-top: 30px;
  }

  .head span {
    font-weight: bold;
    color: #353535;
  }

  .head span span {
    font-size: 32px;
    font-weight: bold !important;
  }

  a {
    color: #d04526;
  }

  a:hover {
    text-decoration:underline;
  }

  h1 a:hover {
    text-decoration:none;
  }

  .special, .special:hover {
    background: transparent;
        border: none;
  }

  .special:hover p {
    color: #ffe400;
  }



  .tweetrow{
  	min-width:320px;
    margin-top: 20px;
    position: relative;
  }

  .tweetrow.playing {
    border: 1px black solid;
  }

  #search {
  	font-size: 20px;
    height: 46px;
    padding-left: 10px;
    text-align: left;
    width: 100%;
    border: none;
   
  }

  .searchicon {
    background: url("../img/search_icon.png") no-repeat scroll center center transparent;
    bottom: 4px;
    display: block;
    height: 40px;
    position: absolute;
    right: 11px;
    width: 40px;
  }


.searchfield {
  width: 250px; 
  line-height:16px; 
  padding: 0px; 
  font-family:arial, sans-serif; 
  border: 0px solid #CCC; 
  border-radius: 2px; 
  -moz-border-radius: 2px; 
  -webkit-border-radius: 2px; 
}


 .tweet-text {
    color: #333333;
    font-family: "Helvetica Neue",​Arial,​sans-serif;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-left: 14px;
    padding-right: 14px;
 }

 .tweet-footer {
 	text-align: right;
 	color: #999999;
 	font-size: 12px;
 }

.row.tweet-content-row {
  margin: 20px 0 0;
}

.profile_img {
    margin: 0 14px 0 0;
}






.tweet-header {
	text-align: left;
  background-color: $tweet-header;
  color: $tweet-header-text;
  padding: 8px 10px;
  height: 43px;
  .username {
    color: $tweet-header-text-off;
  }

  .time {
    float: right;
    margin-top: 1px;
    position: relative;
    color: $tweet-header-text-off;
  }
}

#tweetssection-tweets .btn.tweet-button {
  float:left;
  background-color: $tweet-button;
  margin: 10px 14px;
  height: 31px;
  width: 98px;
  border: $tweet-button;

}

#tweetssection-tweets .btn.tweet-button:hover {
  background-color: $control-button;
  border: $control-button;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

#controlsheader .searchrow .columns{
  margin: 0px;
}

#controlsheader {
  
}

.row.controls.fixed {
  background-color: #ccc;
  width: 100%;
  bottom: 0%;
  max-width:100%;
  padding-right: 10%;
  z-index: 99999;

}

 .row.controls.fixed {
    background-color: #4D4D4D;
  }

  .row.controls.fixed ul {
    margin: 5px;
    width: 100%;
  }

#tweetssection .row.controls .btn.tweet-button {
    background-color: $control-button;
    margin: 0px 0px;
    height: 31px;
    width: 125px;
    font-size: 16px;
    border: $tweet-button;
    line-height: 31px;
    margin: 0 0 0 15px;
}
#tweetssection .row.controls .btn.tweet-button a {
  padding: 0px;
  line-height: 31px;

}
#tweetssection .row.controls .btn.tweet-button:hover {
    background-color: #cccccc;
}

#tweetssection-tweets  .btn.large.icon-right a:after, #tweetssection-tweets  .row.controls .skiplink.large.icon-right a:after{
    bottom: 13px;
    right: 42px;
}

section#tweetssection .row.controls  .btn.large.icon-right a:after, section#tweetssection  .row.controls  .skiplink.large.icon-right a:after{
    bottom: 0;
    right: 56px;
}



.tweetrow .imagediv {
	//padding: 10px;
}

.tweetcontent {
	margin-left: 10px;
  background-color: transparent;
}

.profile_img {

}

.navbox {

  background-color: #4d4d4d;
  width: 100%;
  height: 20px;
}

.navbar {
  background-color: #4d4d4d;
  height: 20px;
  min-height:20px;
  position:absolute;
  top:0px;
  left:0px;
  right: 0px;

  .logo {
    display: inline-block;
    height: 20px;
    line-height: 20px;  
    text-align: left;


      a {
      color:#4d4d4d;
      font-family: helvetica;
      text-transform: lowercase;
      font-size: 19px;
      height: 20px;
      line-height: 19px;
      letter-spacing: 1px;
    
      } 
  }

    .column, .columns, #nav4 {
    background-color: #4d4d4d;  
  }

  ul li {
    height: 20px;
    line-height: 20px;
  }

  ul li > a {
    height: 20px;
    line-height: 18px;
    font-size: 0.6em;
    color: #999999;
  }
}





/* MODAL WINDOWS */

body {
  /* jank buster */
  -webkit-transform: translateZ(0);
}

.modal {
  position: absolute;
  width: 330px;
  height: 277px;
  left: 50%;
  top: 100px;
  margin-left: -125px;
  padding: 1em;
  opacity: 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  z-index:9999;
  pointer-events: none;
  color: #fff;
}

.modal.from-above {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}

.modal.from-above.show {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  box-shadow: 0 0 300px rgba(0, 0, 0, 0.3);
  
  pointer-events: auto;
}

.modal p, .modal h3 {
	color: #fff;
}


.modal.from-below {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.modal.from-below.show {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  box-shadow: 0 0 300px rgba(0, 0, 0, 0.3);
  
  pointer-events: auto;
}

.navbar a.toggle {
    top: 8%;
}

#floater  {float:left; height:50%; margin-bottom:-120px;}
#content  {clear:both; height:240px; position:relative;}

body.home{

   h1 {
   position: absolute;
   left: -999em;
   }
   form {
        margin: auto 76% auto 13%;
        position: absolute;
        top: 38%;
        width: 632px;
      input {
         content: "➦";
      }
      label {
        color: #fff;
        font-size: 2rem;
        font-family: helvetica;
        text-align: left;
      }

   }
}


#tweetssection {
    margin-top: 20%;
}

#tweetssection .arrow-down {
    border-left: 0 solid transparent;
    border-right: 66px solid transparent;
    border-top: 22px solid $tweet-header;
    height: 0;
    position: absolute;
    right: 1px;
    top: 43px;
    width: 0;
}

.imagediv {
  margin-top:-8px;
}


/* Mobile */
@media only screen and (max-width: 767px) { 
  .tweetcontent{ 
      padding: 10px;
     }
 section#controlsheader  h2 {
  font-size:20px;
 }

 #tweetssection .row.controls .btn.tweet-button {
    margin: 2px 5px;
    width: 100px;
 }
  .row.controls {
    height:81px;
  }

  #search {
    font-size:13px;
  }

  .searchfield {
    border: 0px solid #CCCCCC;
  }

  body.home form {
    width: 280px;
    text-align:left;
    top:20%;
  }
  body.home form label {
    font-size:1rem;
    text-align: left;

  }

  html,body {
   
    background-image: url(../img/tweetout_web_330.png);
    background-position: center 0px;
    background-size: contain;
    width: 100%;
    height: 100%;
  }

  section#tweetssection .row.controls  .btn.large.icon-right a:after, section#tweetssection  .row.controls  .skiplink.large.icon-right a:after{
    bottom: 0;
    right: 31px;
  }
  #tweetssection .row.controls .btn.tweet-button {
      width: 64px;
  }
  #tweetssection .row.controls .btn.tweet-button {
    font-size: 11px;
  }
  .fixed { position: fixed; }



}


  @media only screen and (max-width: 767px) {

    h1 {
      font: bold italic 100px georgia, times new roman, serif;
      -webkit-transition-duration: .5s;
    }

    .profile_img {
      display: none;
    }

  }

@media only screen and (max-width: 767px) { 
    .tweet-header {
       font-size: 10px;
    }
    .tweet-text {
       font-size: 12px;
    }
    .navbar ul {
      top: 20px;
    }
    .navbar .toggle {
      z-index:9999999;
    }
  }


